<a href="https://colab.research.google.com/github/ayaan-27/AI/blob/master/Classwork2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#operations on sets
s1={11,23,34,45,56,'call',67.78,89,'home'}
s2={11,21,31,41,51,'call',61,71,81}

In [2]:
print(s1)
print(s2)

{34, 'call', 67.78, 'home', 11, 45, 23, 56, 89}
{'call', 71, 41, 11, 81, 51, 21, 61, 31}

In [3]:
#union
s12=s1.union(s2)
print(s12)

{34, 'call', 67.78, 71, 'home', 41, 11, 45, 81, 51, 21, 23, 56, 89, 61, 31}

In [4]:
#intersection
s21=s2.intersection(s1)
print(s21)

{'call', 11}

In [5]:
#adding and removing items in a set
s2.add('67.78')
s1.remove(23)

In [6]:
print(s1)
print(s2)

{34, 'call', 67.78, 'home', 11, 45, 56, 89}
{'call', 71, 41, '67.78', 11, 81, 51, 21, 61, 31}

In [7]:
#defining a function
def add(x,y):
  return x+y

z=add(10,29)
print(z)

39

In [8]:
#making a function that uses global variables
a=9
b=11
c=10
def printer():
  print(a+b+c)

printer()

30

In [9]:
print(float(int('212',base=5)))

57.0

In [10]:
#Traceback helps you to track the error at which line it is and gives you information on the same.
help(traceback)

NameError: ignored

In [11]:
class Student: 
    def __init__(self, name): 
        self.__name = name 
  
    def displayName(self): 
        print(self.__name) 
  
s1 = Student("Santhosh") 
s1.displayName() 
  
# Raises an error 
print(s1.__name)

#the class variable/attribute __name cannot be accessed outside the class.

Santhosh

AttributeError: ignored

In [12]:
#Shows all the valid attributes with the name mangling process that is done to the class variable __name.
print(dir(s1))

['_Student__name', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'displayName']

In [13]:
#The class variable can be accessed from outside the class with the name _Student__name.
class Student: 
    def __init__(self, name): 
        self.__name = name 
  
s1 = Student("Santosh") 
print(s1._Student__name)

Santosh

In [14]:
import pandas as pd

In [15]:
from google.colab import files
upload=files.upload()

Saving Restaurants.csv to Restaurants.csv

In [16]:
a=pd.read_csv("Restaurants.csv")
a

                           name  ...  Zip Codes
0                           410  ...        NaN
1                          1919  ...        NaN
2                         SAUTE  ...        NaN
3            #1 CHINESE KITCHEN  ...        NaN
4         #1 chinese restaurant  ...        NaN
...                         ...  ...        ...
1322  ZEN WEST ROADSIDE CANTINA  ...        NaN
1323                    ZIASCOS  ...        NaN
1324                ZINK'S CAF  ...        NaN
1325               ZISSIMOS BAR  ...        NaN
1326                     ZORBAS  ...        NaN

[1327 rows x 9 columns]